Screen {
    background: $background;
    color: $text;
}

Header, Footer {
    background: $primary;
    color: $text;
}

Input {
    width: 100%;
    margin-bottom: 1;
}

Horizontal {
    layout: horizontal;
    width: 100%;
    height: 100%;
}

DexEntryInfo {
    width: 50%;
    height: 100%;
    border: round $panel;
    padding: 1;
}

DataTable {
    width: 50%;
    height: 100%;
    border: round $panel;
    padding: 1;
}
